.big-product-card {
    background-color: #fff;
    flex-basis: 800px;
    height: auto;
    border-radius: 10px;
    display: flex;
    gap: 54px;
    justify-content: space-evenly;
    padding: 15px;
    position: relative;
    transition: 0.8s;
    @media (max-width:800px) {
        flex-direction: column;
        gap: 20px;
    }
    &__image {
      width: auto;
      object-fit: contain;
      border-radius: 5px;
      flex: 1;
      transition: 0.3s;
    cursor: pointer;

     &:hover {
      transform: scale(1.7);
      position: relative;
      z-index: 2;
      @media (max-width:800px) {
        transform: none;
        }
    }
    @media (max-width:770px) {
        margin-top: 30px;
    }
    }
  
    &__no-picture-block{
        flex: 1;
    }

    &__price-box {
      padding-top: 0.8rem;
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
  
    &__price {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: #242424;
    }
  
    &__discount {
      font-weight: 400;
      line-height: 1.4rem;
      font-size: 1.1rem;
      color: rgb(103, 37, 168);
      background-color: rgb(240, 236, 244);
    }
  
    &__old-price {
      color: rgb(174, 174, 193);
      font-weight: 400;
      line-height: 1rem;
      font-size: 0.75rem;
      text-decoration: line-through;
    }
  
    &__product-description-box {
        margin-top: 30px;
      padding-bottom: 20px;
      padding-right: 5px;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 7%;
        height: 100%;
        right: 0;
        background: linear-gradient(
          267deg,
          rgba(255, 255, 255, 0.7567401960784313) 40%,
          rgba(255, 255, 255, 0.12368697478991597) 100%
        );
      }
    }
  
    &__product-brand {
      font-weight: 700;
      line-height: 1.7rem;
      font-size: 1.7rem;
    }
  
    &__product-name {
      padding-left: 10px;
      font-weight: 400;
      line-height: 1.7rem;
      font-size: 1.5rem;
    }
  
  }
  .big-product-card.hidden {
    display: none;
  }
  