.loader {
  position: absolute;
  top: 20%;
  left: 48%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid $main-clr;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: load 2s infinite linear;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
