.product-cards {
  padding: 40px 0 56px 0;
  &__card-container {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    position: relative;
  }

  &__tittle {
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: #242424;
    padding-bottom: 30px;
  }
}
