@import './configs/rezet.scss';
@import './configs/normalize.scss';
@import './fonts.scss';
@import './configs/config.scss';
@import './components/container.scss';
@import './sections/main-header.scss';
@import './sections/banner.scss';
@import './sections/product-cards.scss';
@import './sections/main-footer.scss';
@import './components/product-card.scss';
